<!DOCTYPE html>
<html lang="en">
  {% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="img/favicon.png" type="image/png" />
  <title>EcomWebste</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'Home/css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/linericon/style.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/css/flaticon.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/owl-carousel/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/lightbox/simpleLightbox.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/nice-select/css/nice-select.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/animate-css/animate.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/jquery-ui/jquery-ui.css' %}" />
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'Home/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/css/responsive.css' %}" />
</head>

<body style="background-color: rgb(245, 241, 241);">


      
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="top_menu">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="float-left">
              <p></p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="float-right">
              <ul class="right_side">
                
                <li>
                  <a href="{% url 'frntnd:account' %}">MY Account</a>
                </li>
                <li>
                  <a href="{% url 'frntnd:whishlist' %}">whishlist</a>
                </li>
                <li>
                  <a href="{% url 'frntnd:userorders' %}">orders</a>
                </li>
                <li>
                  <a href="{% url 'frntnd:contact' %}">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index.html">
            <img src="img/logo.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
        
          <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'frntnd:home' %}">Home</a>
                  </li>
                  
                  <!-- category dropdown -->
                   <!-- <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">Category</a>
                    <ul class="dropdown-menu">

                      {% for i in cate %}
                      <li class="nav-item"><a class="nav-link" href="{% url 'frntnd:category' catname=i.cname %}">{{i.cname}}</a></li>
                      {% endfor %}

                    </ul>
                  </li> -->
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'frntnd:product' %}">Products</a>
                  </li>
                  <!-- brand dropdown -->
                  <!-- <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">Brand</a>
                    <ul class="dropdown-menu">

                      {% for brands in brand %}
                      <li class="nav-item"><a class="nav-link" href="">{{brands.brand}}</a></li>
                      {% endfor %}

                    </ul>
                  </li> -->
                  <li class="nav-item">
                    {% if request.session.username %}
                    <h5 style="margin-top: 29px;">Heyy... {{ request.session.username }} </h5>
                    {% endif %}
                  </li>
                  
                  
                </ul>
              </div>
              
              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                  <li class="nav-item">
                    <a href="#" class="icons"><i class="ti-search" aria-hidden="true"></i></a>
                  </li>

                  <li class="nav-item">
                    <a href="#" class="icons">
                      <i class="ti-shopping-cart"></i>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="#" class="icons">
                      <i class="ti-user" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="#" class="icons">
                      <i class="ti-heart" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!--================Header Menu Area =================-->  

  <body>


    <!--  Cart area   -->
    
    <div class="cart-area">
      <div class="container">
        <div class="col-md-6">
        
        <div class="leftside">
          <div class="cartitem">
    
          {% for crt in prdt %}     
    
            <div class="img">
              <a href="{% url 'frntnd:product' %}"><img src="{{crt.image.url}}" class="imgg" alt=""></a>
            </div>
            <div class="konjmthalli">
                <h4>{{ crt.product }}</h4>
                <h5>{{crt.description}}</h5>
            
               <input type="hidden" id="price" value="{{crt.selling_price}}" >  <!-- this for geting the one produt pricee   -->
               
                
              <div class="card-area">
                <h4><s style="color: gray;" class="" >$ {{ crt.landing_price }}</s>  
                  <span style="margin-left: 20px;" > 
                  <input type="text" name="total"  value= "$ {{ crt.selling_price}}"  id="total" style="border: none;" ></span>
                </h4>
              </div>
              
              {% if crt.offer %}
              <h4 style="color: rgb(32, 189, 32);">{{ crt.offer }}% off</h4>
              {% else %}
                <h6>No current offers</h6>
              {% endif %}
           
              
              <h5 style="color: rgb(11, 149, 11);">Free Shipping <s style="color: gray;" class="">40</s></h5>
              <input type="number" min="1" value="1" id="qty" name="quantity" max="15" maxlength="10" style="width: 70px;">
              <a href="cartremove/{{crt.id}} " class="btnn">Remove</a>
              </div>
            <hr>
            
    
          <a href="{% url 'frntnd:checkout' %}"><button class="orderbtn">PlAceOrDeR</button></a>
          {% endfor %}
          </div>
        </div>
        </div>
      </div>
    </div>
        
    <style>
        
  .container{
    left: 10px;
    right: 10px;
    position: relative;

  }
  .cartitem{
    width: 700px;
    height: auto;
    margin: 10px;
    padding: 20px;
    margin-left: -130px;
    background-color: white;
    position: relative;
  }

  .imgg{
    width: 130px;
    height: 140px;
    margin-left: 20px;
  }

  .qtyy{
    width: 80px;
    height: 33px;
    margin-left: -110px;

  }

  .btnn{
    border: none;
    font-size: 21px;
    background: none;
    margin-left: 71px;

  }
  .btnn:hover{
    background-color: rgb(255, 50, 50);
    color: white;
    padding: 7px;
  }
  
.konjmthalli{
  margin-left: 250px;
  margin-top: -135px;

}
.order-btn{
  background-color: orange;
  border: none;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: -10px;
  width: 290px;
  height: 50px;
  color: black;
  margin-left: 600px;
  }

  .orderbtn:hover{
    color: white;
    }
    
.orderbtn{
  width: 160px;
  height: 50px;
  background-color: orange;
  font-size: 21px;
  border-radius: 4px;
  border: none;
  margin-left: 500px;
  position: sticky;
  cursor: pointer;
  

}
    </style>

  <!--================ start footer Area  =================-->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'Home/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'Home/js/popper.js' %}"></script>
  <script src="{% static 'Home/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'Home/js/stellar.js' %}"></script>
  <script src="{% static 'Home/vendors/lightbox/simpleLightbox.min.js' %}"></script>
  <script src="{% static 'Home/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'Home/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'Home/vendors/isotope/isotope-min.js' %}"></script>
  <script src="{% static 'Home/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'Home/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'Home/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'Home/vendors/counter-up/jquery.counterup.js' %}"></script>
  <script src="{% static 'Home/js/mail-script.js' %}"></script>
  <script src="{% static 'Home/js/theme.js' %}"></script>

</body>
</html>