
<!DOCTYPE html>
<html lang="en">
  {% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="img/favicon.png" type="image/png" />
  <title>EcomWebste</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'Home/css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/linericon/style.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/css/flaticon.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/owl-carousel/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/lightbox/simpleLightbox.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/nice-select/css/nice-select.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/animate-css/animate.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/vendors/jquery-ui/jquery-ui.css' %}" />
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'Home/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/css/responsive.css' %}" />
</head>

<body>

    
 <!--================Header Menu Area =================-->
 <header class="header_area">
  <div class="top_menu">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="float-left">
            <p></p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="float-right">
            <ul class="right_side">
              
              <li>
                <a href="{% url 'frntnd:account' %}">MY Account</a>
              </li>
              <li>
                <a href="{% url 'frntnd:whishlist' %}">whishlist</a>
              </li>
              <li>
                <a href="{% url 'frntnd:contact' %}">orders</a>
              </li>
              <li>
                <a href="{% url 'frntnd:contact' %}">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main_menu">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light w-100">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="index.html">
          <img src="img/logo.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
      
        <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
          <div class="row w-100 mr-0">
            
            <div class="col-lg-7 pr-0">
              <ul class="nav navbar-nav center_nav pull-right">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'frntnd:home' %}">Home</a>
                </li>
                <li class="nav-item submenu dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true"
                    aria-expanded="false">Shop</a>
                  <ul class="dropdown-menu">
                   
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'frntnd:product' %}">Product </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'frntnd:home' %}">Product Checkout</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="">Shopping Cart</a>
                    </li>
                  </ul>
                </li>
               
               
               
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'frntnd:product' %}">Products</a>
                </li>
                <li class="nav-item">
                
                  {% if requst.session.username %}
                  <a class="nav-link" href="{% url 'frntnd:logout' %}">Hey {{requst.session.username}} / Logout</a>
                  {% else %}  
                  <a class="nav-link" href="{% url 'frntnd:login' %}">Register / Login</a>
                  {% endif %}  
                
                </li>
                
              </ul>
            </div>
          
            <div class="col-lg-5 pr-0">
              <ul class="nav navbar-nav navbar-right right_nav pull-right">
                <li class="nav-item">
                  <a href="#" class="icons">
                    <i class="ti-search" aria-hidden="true"></i>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="" class="icons">
                    <i class="ti-shopping-cart"></i>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="#" class="icons">
                    <i class="ti-user" aria-hidden="true"></i>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="#" class="icons">
                    <i class="ti-heart" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<!--================Header Menu Area =================-->










  <div class="register" id="regform" style="text-align: center; margin-top: 100px;">
   
    <form action="" method="POST" name="registerForm" enctype="multipart/form-data" style="display: none;" name="registerForm" onsubmit="formvalidaa()" >
      <h1 style="text-align: center; margin-bottom: 50px;" >REGISTER</h1>
      {% csrf_token %}
      <input type="text" name="username" placeholder="Name" required><br><br> 
      <input type="email" name="email" placeholder="Email" required><br><br>
      <input type="password" name="password" placeholder="password" required><br><br>
      
      <button type="submit" class="btnstyle">REGISTER</button>
      <h5 style="margin-top: 21px;">You have already an account 
          <button type="submit" style="border: none; background: transparent; color: brown; cursor: pointer;" onclick="loginform">Login</button>
      </h5>
  </form>
  
    <div id="logform" style="display: block;">
      <h1>Login Karoooo</h1>
        <form action="login.html" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <input type="email" name="email" placeholder="EMAIL" required><br><br>
            <input type="password" name="password" placeholder="password" required><br><br>
            {% if message %}
            <p style="color: red; font-size: 17px;">{{message}}</p>            
            {% endif %}  
            <a href="{% url 'frntnd:otpgenerate' %}">Send with OTP</a> <span style="margin-left: 20px;"> <a href="#">Continue with google</a></span><br>
            <button type="submit" class="btnstyle" style="margin-top: 20px;">LOGIN</button>
        </form>       
    </div>
</div>

<style>
  .btnstyle{
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    width: 97px;
    height: 35px;
    background-color: rgb(212, 206, 206);
  }
  .btnstyle:hover{
    background-color: grey;
  }


</style>

<script>
  function formvalidaa(){
    name = document.registerForm.username.value
    email = document.registerForm.email.value
    password = document.registerForm.password.value
    
  //   error = document.getElementById(alert).value
  //   document.getElementById("errormessage").innerHTML=error
    
    if(password.length<6){
      alert("Password must be at least 6 characters")
      event.preventDefault();
    }else if(!/[A-Z]/.test(password)){
      alert("Password canat least one Upper casee venmm ")
      event.preventDefault();
    }else if(!/[a-z]/.test(password)){
      message("Password can least one lowerr casee venmm ")
      event.preventDefault();
    }else if(!/[0-9]/.test(password)){
      alert("Password contains any numbers wanted")
      event.preventDefault();
    }else if(!/[!@$%&^#*]/.test(password)){
      alert("Password can any special characters used to strong.")
      event.preventDefault();
    }
  }

  function loginform(){
    event.preventDefault()
    document.getElementById("logform").style.display="block"
    document.getAnimations("regform").style.display="none"

  }
</script>

  
<script>
 
    function showLoginForm() {
        alert("Login button clicked");
        document.querySelector(".register").style.display = "none";
        document.querySelector(".loginform").style.display = "block";
    }
    // Prevent form resubmission on page refresh
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

  document.getElementById('registerForm').addEventListener('submit', function(event) {

  name = document.querySelector(".name");
  email = document.querySelector(".email")
  password = document.querySelector(".password")

  })
</script>




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'Home/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'Home/js/popper.js' %}"></script>
  <script src="{% static 'Home/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'Home/js/stellar.js' %}"></script>
  <script src="{% static 'Home/vendors/lightbox/simpleLightbox.min.js' %}"></script>
  <script src="{% static 'Home/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'Home/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'Home/vendors/isotope/isotope-min.js' %}"></script>
  <script src="{% static 'Home/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'Home/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'Home/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'Home/vendors/counter-up/jquery.counterup.js' %}"></script>
  <script src="{% static 'Home/js/mail-script.js' %}"></script>
  <script src="{% static 'Home/js/theme.js' %}"></script>
</body>

</html>
