<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h1 style="text-align: center;">Login with OTP</h1>
    <form action="" method="POST" name="" enctype="multipart/form-data" style="text-align: center;">
        {% csrf_token %}
        <p>We will send the verification code on you email id</p>
        <input type="email" name="email" placeholder=" Enter Email" required>
        <a href=""><button type="submit" onclick="showmsg()">SENT</button></a><br><br>
        
    </form>  
    
    <script>
        function showmsg(){  
           alert( "Check your Email") 
    
        }
    </script>
    
</body>
</html>
