<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="text-align: center;">Login with OTP</h1>
    <form action="" method="POST" name="" enctype="multipart/form-data" style="text-align: center;" >
        {% csrf_token %}
        <p  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">We emailed you a 6 character code for verification on your registered email-id.<br>Enter the code to confirm the email.</p><br>
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Enter the OTP : <input type="text" name="inpotp" maxlength="6" id="inpotp" ></p><br>
        <a href="{% url 'frntnd:otpgenerate' %}" ><button>Resend OTP</button></a>
        <button type="submit">verify OTP</button> 
    </form>

    <script>
        function stuck(){   
        event.preventDefault()
        }
    </script>
</body>
</html>

