 <!DOCTYPE html>
 <html lang="en">
   {% load static %}
 
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <link rel="icon" href="img/favicon.png" type="image/png" />
   <title>EcomWebste</title>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'Home/css/bootstrap.css' %}" />
   <link rel="stylesheet" href="{% static 'Home/vendors/linericon/style.css' %}" />
   <link rel="stylesheet" href="{% static 'Home/css/font-awesome.min.css' %}" />
   <link rel="stylesheet" href="{% static 'Home/css/themify-icons.css' %}" />
   <link rel="stylesheet" href="{% static 'Home/css/flaticon.css' %}" />
   <link rel="stylesheet" href="{% static 'Home/vendors/owl-carousel/owl.carousel.min.css' %}" />
   <link rel="stylesheet" href="{% static 'Home/vendors/lightbox/simpleLightbox.css' %}" />
   <link rel="stylesheet" href="{% static 'Home/vendors/nice-select/css/nice-select.css' %}" />
   <link rel="stylesheet" href="{% static 'Home/vendors/animate-css/animate.css' %}" />
   <link rel="stylesheet" href="{% static 'Home/vendors/jquery-ui/jquery-ui.css' %}" />
   <!-- main css -->
   <link rel="stylesheet" href="{% static 'Home/css/style.css' %}" />
   <link rel="stylesheet" href="{% static 'Home/css/responsive.css' %}" />
 </head>
 
 <body>
 
   <div class="register" id="regform" style="text-align: center; margin-top: 100px;">
    
     <form action="" method="POST" name="registerForm" enctype="multipart/form-data" style="display: block;" name="registerForm" onsubmit="formvalidaa()" >
       <h1 style="text-align: center; margin-bottom: 50px;" >REGISTER</h1>
       {% csrf_token %}
       <input type="text" name="username" placeholder="Name" required><br><br> 
       <input type="email" name="email" placeholder="Email" required><br><br>
       <input type="password" name="password" placeholder="password" required><br><br>
       
       <a href="{% url 'frntnd:otpvalidate' %}"><button class="btnstyle">REGISTER</button></a>
       <h5 style="margin-top: 21px;">You have already an account <a href="{% url 'frntnd:userlogin' %}">Login</a></h5>
   </form>
     
 </div>
     
 <style>
   .btnstyle{
     margin-top: 20px;
     border: none;
     border-radius: 3px;
     font-size: 17px;
     width: 97px;
     height: 35px;
     background-color: rgb(212, 206, 206);
   }
   .btnstyle:hover{
     background-color: grey;
   }
 
 
 </style>
 
 <script>
   function formvalidaa(){
     name = document.registerForm.username.value
     email = document.registerForm.email.value
     password = document.registerForm.password.value
     
   //   error = document.getElementById(alert).value
   //   document.getElementById("errormessage").innerHTML=error
     
     if(password.length<6){
       alert("Password must be at least 6 characters")
       event.preventDefault();
     }else if(!/[A-Z]/.test(password)){
       alert("Password canat least one Upper casee venmm ")
       event.preventDefault();
     }else if(!/[a-z]/.test(password)){
       message("Password can least one lowerr casee venmm ")
       event.preventDefault();
     }else if(!/[0-9]/.test(password)){
       alert("Password contains any numbers wanted")
       event.preventDefault();
     }else if(!/[!@$%&^#*]/.test(password)){
       alert("Password can any special characters used to strong.")
       event.preventDefault();
     }
   }
 
   function loginform(){
     event.preventDefault()
   }
 </script>
 
 <script>
  
     // Prevent form resubmission on page refresh
     if (window.history.replaceState) {
         window.history.replaceState(null, null, window.location.href);
     }
 
   document.getElementById('registerForm').addEventListener('submit', function(event) {
 
   name = document.querySelector(".name");
   email = document.querySelector(".email")
   password = document.querySelector(".password")
 
   })
 </script>
 

 
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="{% static 'Home/js/jquery-3.2.1.min.js' %}"></script>
   <script src="{% static 'Home/js/popper.js' %}"></script>
   <script src="{% static 'Home/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'Home/js/stellar.js' %}"></script>
   <script src="{% static 'Home/vendors/lightbox/simpleLightbox.min.js' %}"></script>
   <script src="{% static 'Home/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
   <script src="{% static 'Home/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
   <script src="{% static 'Home/vendors/isotope/isotope-min.js' %}"></script>
   <script src="{% static 'Home/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
   <script src="{% static 'Home/js/jquery.ajaxchimp.min.js' %}"></script>
   <script src="{% static 'Home/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
   <script src="{% static 'Home/vendors/counter-up/jquery.counterup.js' %}"></script>
   <script src="{% static 'Home/js/mail-script.js' %}"></script>
   <script src="{% static 'Home/js/theme.js' %}"></script>
 </body>
 
 </html>
 