<!DOCTYPE html>
{% extends 'index.html' %}  
{% block contend %}       
<html lang="en"> 
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Document</title>   
</head> 
<body>  
        <div class="row">  
            <div class="col-md-12">  
              <div class="card">  
                <div class="table-responsive pt-3">  
                  <table class="table table-striped project-orders-table">  
                    <thead>  
                      <tr>  
                        
                        <th>Brand</th> 
                        <th>Description</th>   
                        <th>Show / Naah</th>  
                        
                      </tr>
                    </thead>
                    <tbody>
                      
                    {% for brands in brand %}
                    <tr>
                        <td>{{brands.brand}}</td>
                        <td>{{brands.description}}</td>
                        <td>{{brands.is_listed}}</td>
                        <td>
                          <a href="">
                            <button type="button" id="listbtn"  onclick="changeButtonColor()" class="btn btn-success btn-sm btn-icon-text mr-3" onclick="showlist()">
                              <span style="display: block;">List</span> <span style="display: none;">Un List</span>               
                            </button> 

                          </a>
                            <a href="brandedit/{{brands.id}}">
                                <button type="button" class="btn btn-success btn-sm btn-icon-text mr-3">
                                    Edit
                                    <i class="typcn typcn-edit btn-icon-append"></i>                          
                                </button> 
                            </a>
                            
                            <a href="branddelete/{{brands.id}}">
                                <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                                    Delete
                                    <i class="typcn typcn-delete-outline btn-icon-append"></i>                          
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <style>
         

.unlist {
    background-color: red;
    color: white;
}
        </style>

        <script>

function changeButtonColor() {
    var button = document.getElementById('listbtn');
    button.classList.remove('listt');
    button.classList.add('unlist');
    button.textContent = 'Unlist';
    button.onclick = null;
}






          // function showlist(){
          //   var listbtn = document.getElementById("listbtn").value 

          //   document.getElementById("listbtn")



          // }
        </script>





</body>
</html>
{% endblock %}
