<!DOCTYPE html>
{% extends 'index.html' %}
{% block contend %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="table-responsive pt-3">
                  <table class="table table-striped project-orders-table">
                    <thead>
                      <tr>
                        
                        <th>Categoryyy</th>
                        <th>Description</th>
                        <th>Show / Naah</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      
                    {% for i in cate %}
                    <tr>
                        <td>{{i.cname}}</td>
                        <td>{{i.description}}</td>
                        <td>{{i.is_listed}}</td>
                        <td>
                          
                            <img src="{{i.image.url}}" alt=""  width="100px" height="100px">
                        </td>
                        <td>
                          <a href="">
                            <button type="button" class="btn btn-success btn-sm btn-icon-text mr-3 " id="toggleButton">
                              <span id="is_listedtext" class="list-text">List</span>
                              <span>Un List</span>
                            </button>
                          </a>

                          
                            <a href="categoryedit/{{i.id}}">
                                <button type="button" class="btn btn-success btn-sm btn-icon-text mr-3">
                                    Edit
                                    <i class="typcn typcn-edit btn-icon-append"></i>                          
                                </button> 
                            </a>
                            
                        
                            <a href="categorydelete/{{i.id}}">
                                <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                                    Delete
                                    <i class="typcn typcn-delete-outline btn-icon-append"></i>                          
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


  <!--  javascript using list and Unlist  -->

    <!-- JavaScript for toggle button functionality -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
            var toggleButton = document.getElementById("toggleButton");
            var isListedInput = document.getElementById("is_listedtext");

            toggleButton.addEventListener("click", function() {
                if (isListedInput.value === "True") {
                    isListedInput.value = "False";
                    toggleButton.textContent = "Unlist";
                } else {
                    isListedInput.value = "True";
                    toggleButton.textContent = "List";
                }
            });
        });



      // document.addEventListener('DOMContentLoaded', function() {
      //     var toggleButtons = document.querySelectorAll('.list-toggle-btn');
          
      //     toggleButtons.forEach(function(button) {
      //         button.addEventListener('click', function() {
      //             var listText = button.querySelector('.list-text');
      //             var unlistText = button.querySelector('.unlist-text');
                  
      //             if (listText.style.display === 'none') {
                      
      //                 unlistText.style.display = 'block';
      //             } else {
      //                 listText.style.display = 'block';
      //                 unlistText.style.display = 'none';
      //             }
      //         });
      //     });
      // });
  </script>




</body>
</html>
{% endblock %}